[project]
datadir=/var/web/datadir
uploaddir=/var/web/upload
server=http://localhost
cookiedomain=localhost
cookielivetime=1209600
enviroment=debug


[mysql]
host=localhost
port=3306
database=oj
user=root
password=123456

[redis]
host=localhost
port=6379
password=123456
cachelivetime=1800

[rabbitmq]
host=localhost
port=5672
user=root
password=123456

[mail]
user=
pass=
host=
port=

[token]
expire=

[language]
number=18
mask=131147
langname=C,Cpp,Pascal,Java,Ruby,Bash,Python,PHP,Perl,CSharp,Objc,FreeBasic,Schema,Clang,Clang++,Lua,Javascript,Go

[preset]
avatar=static/images/default_avatar.png